@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-zinc-100 overflow-y-scroll
}

#app {
  @apply flex
}

input, select {
  @apply focus:outline-none px-2 py-1.5
}

.input {
  @apply border border-gray-300 rounded-sm
}

.select {
  @apply border border-gray-300 rounded-sm
}

.btn {
  @apply pt-2 pb-1.5 rounded-sm hover:bg-opacity-80
}
